.calendarWrapper {
  border: silver 2px solid;
  width: 525px;
  margin: 0 auto;
}

.calendarTitle {
  text-align: center;
  padding: 5px;
  font-weight: 700;
  grid-column: span 7;
  border: silver 1px solid;
}

.calendar {
  display: grid;
  grid-template-columns: 75px 75px 75px 75px 75px 75px 75px;
}

.calendarCell {
  border: silver 1px solid;
  text-align: center;
  padding: 3px;
}

.blankDay {
  border: silver 1px solid;
  text-align: center;
  padding: 3px;
  background-color: silver;
}
