.wrapper {
  margin: 0 auto;
  width: 600px;
  margin-top: 50px;
}

textarea {
  width: 500px;
  height: 50px;
  margin-bottom: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.reviewPanel {
  width: 500px;
  margin-top: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
