.queryWrapper {
  border: black 2px solid;
  border-radius: 8px;
  padding: 5px;
  width: 400px;
  display: grid;
  grid-template-columns: 80px 90px 100px 40px 90px;
  margin: 0 auto;
}

.dataWrapper {
  border-radius: 8px;
  background-color: silver;
  padding: 5px;
  width: 400px;
  display: grid;
  grid-template-columns: 200px 200px;
  margin: 0 auto;
}

.dataCellLabel {
  text-align: center;
  padding: 5px;
  font-weight: 700;
}

.dataCell {
  text-align: center;
  padding: 5px;
}

.footer {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}

.spinner {
  margin: 0 auto;
  width: 40px;
  position: relative;
  top: -40px;
}
